<div class="container">
  <ol class="breadcrumb">
    <li>
      <span>Articles</span>
    </li>
    <li class="active">
      <span>Article item</span>
    </li>
  </ol>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-10">

      <h2 class="header-box">Article</h2>

      <div class="row">

        <div class="col-sm-3">

          <div class="standard-box">

            <div class="image">
              <img class="img-responsive full-width" src="assets/img/covers/fat-of-the-land-L.jpg" alt="The Fat Of The Land">
            </div>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Panel</h2>

            <ul class="admin-panel">

              <li class="edit">
                <a href="#">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    Edit
                                </a>
              </li>

              <li class="user">
                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Profile
                                </a>
              </li>

              <li class="photo">
                <a href="#">
                                    <span class="glyphicon glyphicon-picture"></span>
                                    Photos
                                </a>
              </li>

              <li class="add">
                <a href="#">
                                    <span class="glyphicon glyphicon-film"></span>
                                    Videos
                                </a>
              </li>

              <li class="add">
                <a href="#">
                                    <span class="glyphicon glyphicon-music"></span>
                                    Albums
                                </a>
              </li>

              <li class="add">
                <a href="#">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Delete
                                </a>
              </li>

              <li class="tool">
                <a href="#">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Settings
                                </a>
              </li>

            </ul>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Rating</h2>

            <span class="rating">
                            <span class="star positive">
                                <span class="glyphicon glyphicon-star"></span>
            </span>
            <span class="star positive">
                                <span class="glyphicon glyphicon-star"></span>
            </span>
            <span class="star positive">
                                <span class="glyphicon glyphicon-star"></span>
            </span>
            <span class="star positive">
                                <span class="glyphicon glyphicon-star"></span>
            </span>
            <span class="star negative">
                                <span class="glyphicon glyphicon-star"></span>
            </span>
            </span>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Tags</h2>

            <ul class="tags-small-list">
              <li>
                <a href="#">rave</a>
              </li>
              <li>
                <a href="#">techno</a>
              </li>
              <li>
                <a href="#">rock</a>
              </li>
              <li>
                <a href="#">electronic</a>
              </li>
              <li>
                <a href="#">electro</a>
              </li>
              <li>
                <a href="#">alternative</a>
              </li>

            </ul>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Info</h2>

            <div class="info-box">
              <div class="info-content">
                <div class="info-item">
                  <strong>Year:</strong><span class="value pull-right"><i class="fa fa-calendar"></i> 1997</span>
                </div>
                <div class="info-item">
                  <strong>Format:</strong><span class="value pull-right"><span class="label label-danger">CD</span></span>
                </div>
                <div class="info-item">
                  <strong>Added:</strong><span class="value pull-right"><i class="fa fa-calendar"></i> 2012-12-15</span>
                </div>
                <div class="info-item">
                  <strong>Modified:</strong><span class="value pull-right"><i class="fa fa-calendar"></i> 2012-12-15</span>
                </div>
                <div class="info-item">
                  <strong>Views:</strong><span class="value pull-right"><i class="fa fa-eye"></i> 2689</span>
                </div>
              </div>
            </div>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Tracklist</h2>

            <ol class="list">
              <li>"Smack My Bitch Up" – 5:42</li>
              <li>"Breathe" – 5:35</li>
              <li>"Diesel Power" – 4:17</li>
              <li>"Funky Shit" – 5:16</li>
              <li>"Serial Thrilla" – 5:11</li>
              <li>"Mindfields" – 5:40</li>
              <li>"Narayan" – 9:05</li>
              <li>"Firestarter" – 4:40</li>
              <li>"Climbatize" – 6:38</li>
              <li>"Fuel My Fire" – 4:19</li>
            </ol>

          </div>

          <div class="standard-box">

            <h2 class="header-box">Members</h2>

            <ul class="list">
              <li>Keith Flint</li>
              <li>Liam Howlett</li>
              <li>Maxim Reality</li>
            </ul>

          </div>

        </div>


        <div class="col-sm-9">

          <div class="row">
            <div class="col-sm-9">
              <h1 class="item-heading">
                Prodigy - The Fat Of The Land <sup class="item-number">comments: 2</sup>
              </h1>
            </div>
            <div class="col-sm-3">
              <a href="#" class="btn btn-warning btn-xs pull-right btn-add-review" data-scroll-to="button"><i class="fa fa-comment"></i> Write a comment!</a>
            </div>
          </div>

          <div class="text">

            <p>This album is truly unique. It is very difficult to write a review of <strong>THAT</strong> album. This is something
              unusual from the beginning to the end. Really. I’ve already listened to many CDs in my life but this is completely
              different. This album is really intriguing, it has something elusive. It is both typical and not for this artist.
              Certainly it is an integral part of the discography of this artist. Maybe this is his most important work.
              It is quite possible.</p>

            <p>There are many different albums. Some are good, some are bad. And some are totally bland. You know, you listen
              to it and nothing at all stays in your memory. Complete emptiness, a form without content. Like latin “lorem
              ipsum” sentence. Do you know it? It goes something like this:</p>

            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus nisi a est mollis, at consectetur
              ipsum vestibulum. Sed ornare justo vel ligula pharetra pulvinar. Suspendisse tincidunt nibh id dui porta, ac
              cursus nunc aliquet. Proin in lectus ultricies, vehicula tellus eu, ullamcorper diam. Cras faucibus metus et
              sem fringilla, non mattis felis tincidunt. Nunc pharetra venenatis tellus vel feugiat. Nunc consectetur venenatis
              dolor, at sollicitudin lacus volutpat in. Phasellus dapibus eget ipsum sit amet tristique. Donec ac pretium
              mauris. Etiam vitae fringilla nulla. Sed eros purus, iaculis nec aliquet quis, egestas eget purus. Aenean vehicula
              tellus quis tellus euismod auctor. In hac habitasse platea dictumst. Nunc est tortor, mattis eu tempor vitae,
              tincidunt at lacus."</p>

            <p>It is only the first paragraph. Second goes:</p>

            <p>“Curabitur urna quam, consectetur eget elit sed, feugiat cursus ipsum. Nullam elementum ultrices magna, sed suscipit
              purus. Sed iaculis, lorem non convallis semper, est magna iaculis leo, sed hendrerit lorem tellus in velit.
              Mauris placerat bibendum nulla, eget vestibulum dui. Nullam luctus neque urna, rutrum ultricies ligula dapibus
              eu. Nullam placerat adipiscing hendrerit. Donec ac augue non lectus mollis euismod. Curabitur quis aliquet
              ligula, a elementum metus. Aliquam erat volutpat. Mauris facilisis interdum turpis, vel pellentesque ligula
              luctus vel. Maecenas vitae risus scelerisque, venenatis nisl sit amet, laoreet augue. Integer bibendum leo
              eget dui commodo mollis.”</p>

            <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Many albums are also
              dummies. Do not arouse any emotion, completely nothing. But this album is totally different.</p>

            <p>When we listened to this album here in music-nation company we were very impressed. That work is a rarity. We
              know it. Already the first track proves the greatness of this artist, his genius, and that it has its own unique
              style. Nobody plays like him. Other songs also are brilliant. Not like lorem ipsum third paragraph, which goes:</p>

            <p>"Sed pretium, orci in feugiat pharetra, dui metus blandit ligula, malesuada ullamcorper sem augue a erat. Integer
              hendrerit rutrum ante non egestas. Pellentesque vestibulum felis purus, sit amet pellentesque enim laoreet
              non. Fusce cursus hendrerit ultricies. Mauris mattis scelerisque ipsum, fringilla tincidunt lacus luctus non.
              Curabitur lacinia ac risus et convallis. Sed commodo ipsum eget quam pellentesque, eget dapibus tellus ultricies.
              Sed a lectus at nisi faucibus volutpat. Nunc ac diam ligula. Aenean accumsan porta sapien at congue. Duis enim
              orci, luctus sed quam quis, commodo ullamcorper ipsum. Morbi ultricies ornare tempor. Vestibulum ante ipsum
              primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque venenatis leo at viverra mattis.
              Etiam dolor mi, porta vitae libero sed, venenatis elementum sem. Mauris laoreet, tortor id vehicula mollis,
              sem enim molestie ante, sit amet sodales est massa sit amet turpis."</p>

            <p>You enjoy listening to this album from beginning to end. Only then you will understand what we mean. We hope
              that you as we appreciate this album and listening to it although it takes you a while to another reality.
              Better reality.</p>

            <p class="pull-right">
              by
              <a href="#">kwarc</a>
            </p>

          </div>

          <div class="comments-list">

            <h2 class="comments-heading">Comments <strong>(2)</strong></h2>

            <div class="comment comment-1">

              <div class="comment-info">
                <img src="assets/img/avatar.jpg" alt="">
                <span class="author">by <a href="#">tadek</a></span>
                <span class="date">2013-01-21</span>
              </div>

              <div class="comment-content">
                <p>Yes, it’s a really good album. I listened to it many times. This album is really intriguing, it has something
                  elusive. It is both typical and not for this artist. Certainly it is an integral part of the discography
                  of this artist. Maybe this is his most important work. It is quite possible.</p>
              </div>

            </div>

            <div class="comment comment-2">

              <div class="comment-info">
                <img src="assets/img/avatar.jpg" alt="">
                <span class="author">by <a href="#">adam</a></span>
                <span class="date">2013-01-21</span>
              </div>

              <div class="comment-content">
                <p>I really enjoy listening to this album. I would recommend it to anyone who loves music. For sure you will
                  not regret.</p>
              </div>

            </div>

          </div>

          <div class="add-comment" data-scroll-to="target">

            <h2 class="comments-heading">Add comment:</h2>

            <div class="comment">

              <form class="form-horizontal" role="form">

                <div class="form-group">
                  <div class="col-md-offset-2 col-md-8">
                    <textarea class="form-control" id="comment" placeholder="Type your message..."></textarea>
                  </div>
                </div>

                <div class="form-group has-feedback">
                  <div class="col-md-offset-2 col-md-8">
                    <input type="text" class="form-control" id="nickname" placeholder="Your name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-md-offset-2 col-md-8">
                    <button type="submit" class="btn btn-block btn-lg btn-warning">Send a comment</button>
                  </div>
                </div>

              </form>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="col-md-2">

      <div class="standard-box">

        <h2 class="header-box"><a href="articles-list.html">Articles</a></h2>

        <div class="standard-text-list">

          <div class="standard-text-list">

            <div class="item">
              <h3>
                <a href="article-item.html">Radiohead Concert at Poznan</a>
              </h3>
              <div class="description"><strong>2013-01-17</strong> by <a href="#">monika</a></div>
            </div>

            <div class="item">
              <h3>
                <a href="article-item.html">In The Court Of The Crimson King</a>
              </h3>
              <div class="description"><strong>2013-01-11</strong> by <a href="#">kwarc</a></div>
            </div>

            <div class="item">
              <h3>
                <a href="article-item.html">About cover art of Heritage by Opeth</a>
              </h3>
              <div class="description"><strong>2013-01-09</strong> by <a href="#">super8</a></div>
            </div>

            <div class="item">
              <h3>
                <a href="article-item.html">Iron Maiden at concert</a>
              </h3>
              <div class="description"><strong>2013-01-02</strong> by <a href="#">the_moor</a></div>
            </div>

            <div class="item">
              <h3>
                <a href="article-item.html">Old musical box - about Nursery Cryme</a>
              </h3>
              <div class="description"><strong>2012-12-15</strong> by <a href="#">kwarc</a></div>
            </div>

          </div>

          <div class="standard-box-more">
            <span class="line"></span>
            <a href="articles-list.html" data-toggle="tooltip" data-placement="top" title="Click for more...">more &raquo;</a>
          </div>

        </div>

      </div>

      <div class="standard-box">

        <h2 class="header-box">Last albums</h2>

        <div class="standard-text-list">

          <div class="item">
            <a href="tmp-pages/celebration-day.html">
                            <img src="assets/img/covers/celebration-day-S.jpg" alt="Led Zeppelin - Celebration Day">
                        </a>
            <h3>
              <a href="tmp-pages/celebration-day.html">Led Zeppelin - Celebration Day</a>
            </h3>
          </div>

          <div class="item">
            <a href="tmp-pages/so.html">
                            <img src="assets/img/covers/so-S.jpg" alt="">
                        </a>
            <h3>
              <a href="tmp-pages/so.html">Peter Gabriel - So</a>
            </h3>
          </div>

          <div class="item">
            <a href="tmp-pages/st-anger.html">
                            <img src="assets/img/covers/st-anger-S.jpg" alt="Metallica - St. Anger">
                        </a>
            <h3>
              <a href="tmp-pages/st-anger.html">Metallica - St. Anger</a>
            </h3>
          </div>

          <div class="item">
            <a href="tmp-pages/dark-side-of-the-moon.html">
                            <img src="assets/img/covers/dark-side-of-the-moon-S.jpg" alt="Pink Floyd - Dark Side Of The Moon">
                        </a>
            <h3>
              <a href="tmp-pages/dark-side-of-the-moon.html">Pink Floyd - Dark Side Of The Moon</a>
            </h3>
          </div>

          <div class="item">
            <a href="tmp-pages/fat-of-the-land.html">
                            <img src="assets/img/covers/fat-of-the-land-S.jpg" alt="Prodigy - The Fat Of The Land">
                        </a>
            <h3>
              <a href="tmp-pages/fat-of-the-land.html">Prodigy - The Fat Of The Land</a>
            </h3>
          </div>

        </div>

      </div>

      <div class="standard-box">

        <h2 class="header-box"><a href="articles-list.html">Concerts</a></h2>

        <div class="standard-text-list">

          <div class="item">
            <h3>
              <a href="article-item.html">Mark Knopfler</a>
            </h3>
            <p>2013-05-08 - Lodz, Atlas Arena 19:30 165-616 PLN</p>
          </div>

          <div class="item">
            <h3>
              <a href="article-item.html">Roger Waters The Wall</a>
            </h3>
            <p>2013-08-20, Warszawa, tickets: 242 zł - 1310 zł</p>
          </div>

          <div class="item">
            <h3>
              <a href="article-item.html">Sonisphere Festival</a>
            </h3>
            <p>2013-10-12 - Wroclaw 19:30, tickets: 165-1616 PLN</p>
          </div>

          <div class="item">
            <h3>
              <a href="article-item.html">Iron Maiden</a>
            </h3>
            <p>2013-08-20, Warszawa, tickets: 242 zł - 1310 zł</p>
          </div>

        </div>

        <div class="standard-box-more">
          <span class="line"></span>
          <a href="articles-list.html" data-toggle="tooltip" data-placement="top" title="Click for more...">more &raquo;</a>
        </div>

      </div>

      <div class="standard-box">

        <h2 class="header-box">Need help?</h2>

        <h3 class="margin-top-10">Ask about this template.</h3>

        <div class="team-item">
          <img src="assets/img/persons/person-6.png" alt="person">

          <div class="description">
            <h3>Kate Houston*</h3>
            <p><small><a href="mailto:mnbootstrap@gmail.com">mnbootstrap@gmail.com</a></small></p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-4">

      <div class="standard-box bottom-box margin-bottom-10">

        <h2 class="header-box">Menu</h2>

        <div class="row">

          <div class="col-xs-6">

            <ul class="list list-menu with-links">
              <li>
                <a href="index-2.html">Home</a>
              </li>
              <li>
                <a href="about-us.html">About us</a>
              </li>
              <li>
                <a href="gallery.html">Gallery</a>
              </li>
              <li>
                <a href="pricing.html">Pricing</a>
              </li>
              <li>
                <a href="faq.html">FAQ</a>
              </li>
              <li>
                <a href="404-page.html">Page 404</a>
              </li>
              <li>
                <a href="typography.html">Typography</a>
              </li>
              <li>
                <a href="registration.html">Registration</a>
              </li>
              <li>
                <a href="login.html">Login</a>
              </li>
            </ul>

          </div>

          <div class="col-xs-6">

            <ul class="list list-menu with-links">
              <li>
                <a href="modal.html">Modal</a>
              </li>
              <li>
                <a href="tooltip.html">Tooltip</a>
              </li>
              <li>
                <a href="articles-list.html">Articles-list</a>
              </li>
              <li>
                <a href="blog-list.html">Blog-list</a>
              </li>
              <li>
                <a href="article-item.html">Article-item</a>
              </li>
              <li>
                <a href="blog-item.html">Blog-item</a>
              </li>
              <li>
                <a href="links.html">Links</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#help-modal">Help</a>
              </li>
            </ul>

          </div>

        </div>


      </div>

    </div>


    <div class="col-sm-4">

      <div class="standard-box bottom-box">

        <h2 class="header-box">Address</h2>

        <div class="address-box">

          <h3>Music-nation</h3>

          <p><span class="glyphicon glyphicon-map-marker"></span> 1516 Woodstock Drive</p>
          <p>Los Angeles, CA 90071</p>
          <p> <span class="glyphicon glyphicon-earphone"></span> 626-478-6373</p>
          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:mnbootstrap@gmail.com">mnbootstrap@gmail.com</a></p>

        </div>

      </div>

    </div>

    <div class="col-sm-4">

      <div class="standard-box bottom-box">

        <h2 class="header-box">Contact us</h2>

        <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">

          <div class="form-group has-feedback">
            <div class="col-sm-12">
              <input class="form-control" type="text" name="topic" id="topic" value="" placeholder="topic">
              <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <textarea class="form-control" name="message" id="message" placeholder="type your message here..."></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <input type="submit" name="submit" value="Send" class="btn pull-right btn-warning">
            </div>
          </div>

        </form>

      </div>

    </div>

  </div>

</div>
