<div class="container">

    <div class="row">

        <div class="col-sm-4">

            <div class="standard-box bottom-box margin-bottom-10">

                <h2 class="header-box">Menu</h2>

                <div class="row">

                    <div class="col-xs-6">

                        <ul class="list list-menu with-links">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about-us.html">About us</a>
                            </li>
                            <li>
                                <a href="gallery.html">Gallery</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404-page.html">Page 404</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="registration.html">Registration</a>
                            </li>
                            <li>
                                <a href="login.html">Login</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-xs-6">

                        <ul class="list list-menu with-links">
                            <li>
                                <a href="modal.html">Modal</a>
                            </li>
                            <li>
                                <a href="tooltip.html">Tooltip</a>
                            </li>
                            <li>
                                <a href="articles-list.html">Articles-list</a>
                            </li>
                            <li>
                                <a href="blog-list.html">Blog-list</a>
                            </li>
                            <li>
                                <a href="article-item.html">Article-item</a>
                            </li>
                            <li>
                                <a href="blog-item.html">Blog-item</a>
                            </li>
                            <li>
                                <a href="links.html">Links</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#help-modal">Help</a>
                            </li>
                        </ul>

                    </div>

                </div>


            </div>

        </div>


        <div class="col-sm-4">

            <div class="standard-box bottom-box">

                <h2 class="header-box">Address</h2>

                <div class="address-box">

                    <h3>Music-nation</h3>

                    <p><span class="glyphicon glyphicon-map-marker"></span> 1516 Woodstock Drive</p>
                    <p>Los Angeles, CA 90071</p>
                    <p> <span class="glyphicon glyphicon-earphone"></span> 626-478-6373</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:mnbootstrap@gmail.com">mnbootstrap@gmail.com</a></p>

                </div>

            </div>

        </div>

        <div class="col-sm-4">

            <div class="standard-box bottom-box">

                <h2 class="header-box">Contact us</h2>

                <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">

                    <div class="form-group has-feedback">
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="topic" id="topic" value="" placeholder="topic">
                            <span class="glyphicon glyphicon-pencil form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" name="message" id="message" placeholder="type your message here..."></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="submit" name="submit" value="Send" class="btn pull-right btn-warning">
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

<footer>

    <div class="container">

        <p>Designed by <a href="http://portfolio-kwarc.pl" title="Jakub Kwarciński - FRONTEND DEVELOPER">Kwarc</a></p>

        <ul>
            <li>
                <a href="about-us.html">
                    <span>About us</span>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#help-modal">
                    <span>Help</span>
                </a>
            </li>
        </ul>

        <p class="photos-copyright"><small>*Photos courtesy of and copyright Free Range Stock, <a href="http://freerangestock.com/">www.freerangestock.com</a></small></p>

    </div>

</footer>