<div class="standard-box">

  <h2 class="header-box"><a href="articles-list.html">Articles - 1</a></h2>

  <div class="standard-text-list">

     <div class="item" *ngFor = 'let article of articles'>
      <h3>
        <a href="article-item.html">{{article.title}}</a>
      </h3>
      <div class="description"><strong>{{article.date | date: 'dd/MM/yyyy'}}</strong> by <a href="#">{{article.editor.name}}</a></div>
    </div>  

  </div>

  <div class="standard-box-more">
    <span class="line"></span>
    <a href="articles-list.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click for more...">more »</a>
  </div>

</div>

