

            <div class="row">

                <div class="col-sm-6 col-md-12 col-xs-12">

                    <div class="standard-box">

                        <h2 class="header-box">Log in</h2>

                        <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">

                            <div class="form-group has-feedback">
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" name="name" id="name" value="" placeholder="login">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                            </div>

                            <div class="form-group has-feedback">
                                <div class="col-sm-12">
                                    <input class="form-control" type="password" name="password" id="password" value="" placeholder="password">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <input type="submit" name="submit" value="Log in" class="btn btn-warning">
                                </div>
                                <div class="col-xs-6">
                                    <div class="register-link pull-right">
                                        <a href="registration.html" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Registration is totally free!">Register</a>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

                <div class="col-sm-6 col-md-12 col-xs-12">

                    <div class="standard-box">

                        <h2 class="header-box">Search</h2>

                        <form class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post" action="#">

                            <div class="form-group has-feedback">
                                <div class="col-sm-12">
                                    <input class="form-control" type="search" name="name" id="search" value="" placeholder="search...">
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

            <div class="standard-box">

                <h2 class="header-box">Last comments</h2>

                <div class="standard-text-list">

                    <div class="item">
                        <h3>
                            <a href="article-item.html#comment-1">Marillion - Somewhere Else</a>
                        </h3>
                        <div class="description"><strong>2013-12-07</strong> by <a href="#">adam</a></div>
                    </div>

                    <div class="item">
                        <h3>
                            <a href="article-item.html#comment-2">Radiohead with brand new album?</a>
                        </h3>
                        <div class="description"><strong>2013-12-04</strong> by <a href="#">adam</a></div>
                    </div>

                </div>

            </div>

     
