<div class="standard-box">

  <h2 class="header-box"><a href="articles-list.html">Articles - III</a></h2>

  <div class="standard-text-list">

    <div class="item">
      <h3>
        <a href="article-item.html">Radiohead Concert at Poznan</a>
      </h3>
      <div class="description"><strong>2013-01-17</strong> by <a href="#">monika</a></div>
    </div>

    <div class="item">
      <h3>
        <a href="article-item.html">In The Court Of The Crimson King</a>
      </h3>
      <div class="description"><strong>2013-01-11</strong> by <a href="#">kwarc</a></div>
    </div>

    <div class="item">
      <h3>
        <a href="article-item.html">About cover art of Heritage by Opeth</a>
      </h3>
      <div class="description"><strong>2013-01-09</strong> by <a href="#">super8</a></div>
    </div>

    <div class="item">
      <h3>
        <a href="article-item.html">Iron Maiden at concert</a>
      </h3>
      <div class="description"><strong>2013-01-02</strong> by <a href="#">the_moor</a></div>
    </div>

    <div class="item">
      <h3>
        <a href="article-item.html">Old musical box - about Nursery Cryme</a>
      </h3>
      <div class="description"><strong>2012-12-15</strong> by <a href="#">kwarc</a></div>
    </div>

  </div>

  <div class="standard-box-more">
    <span class="line"></span>
    <a href="articles-list.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Click for more...">more »</a>
  </div>

</div>
