<div class="standard-box margin-bottom-5">

  <h2 class="header-box">Previews</h2>

  <div class="row">

    <div class="col-sm-6 col-xs-6" *ngFor = 'let preview of previews'>
      <div class="standard-extend-item">
        <a class="image" href="tmp-pages/so.html">
                                <span class="date">{{preview.date.getDay()}}<br> {{preview.date.getMonth()}}</span>
                                <img class="img-responsive full-width" src="{{preview.imgUrl}}" alt="{{preview.title}}">
                                <span class="rating">
                                    <span  
                                          *ngFor="let item of createRange(5); let currentElementIndex=index"
                                           [ngClass]="(preview.rating  >= currentElementIndex+1) ? 'star positive' : 'star negative'"
                                    >       
                                        <span class="glyphicon glyphicon-star" ></span>
                                    </span>
                                </span>
                            </a>
        <h3>
          <a href="tmp-pages/so.html">{{preview.title}}</a>
        </h3>
      </div>
    </div>
 

  </div>

</div>
